<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481452578616-scbba4jkt50di2c7magvlcn2g17lb45r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481452578616-scbba4jkt50di2c7magvlcn2g17lb45r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>481452578616-6jj4efhao8fg8bec4qec03mi4l8jco3d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbD4I3VT9sHdUa8l9PLA8WD0ofFaEaErk</string>
	<key>GCM_SENDER_ID</key>
	<string>481452578616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gramVillaLatest</string>
	<key>PROJECT_ID</key>
	<string>gramvilla-ab644</string>
	<key>STORAGE_BUCKET</key>
	<string>gramvilla-ab644.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481452578616:ios:6383545f458feacf0713cd</string>
</dict>
</plist>